<div class="container">
  <h1>Doctors#index</h1>
  <table>
    <tr>
      <th>Nome</th>
      <th>CRM</th>
      <th>crm_uf</th>
    </tr>
  </table>
  <% @doctors.each do |doctor| %>
    <%= render 'doctor', doctor: doctor %>
  <% end %>
</div>